.profile{
    display: flex;
}

.profile-img{
    display: flex;
}
.profile-img img{
    margin-left: 250px;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-content{
    width: 100%;
}
.profile-details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-name{
    position: relative;
    top: 175px;
    left: 30px;
}

.profile-name pre{
}

.profile-more-details{
    display: flex;
    position: absolute;
    top: 250px;
    left: 560px;
    padding: 20px;
}

.profile-more-details pre{
   padding: 10px;
   font-size: larger;
   font-weight: 500;
}

.profile-heading{
    margin-top: 20px;
}

.edit{
    position: absolute;
    top: 50px;
    left: 1000px;

}
.edit-div{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}