/* SearchResult.css */

.search-result-to-add-person .scrollable-search-result-div {
    height: 350px;
    width: 77.2%;
    overflow: auto;
    padding-right: 10px; /* Adjust as needed */
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
  }
  
  .search-result-item {
    margin-top: 10px;
    margin-left: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .scrollable-search-result-div::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollable-search-result-div::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    height: 1px;
  }
  
  .scrollable-search-result-div::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  .addPerson{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .searchData{
    display: flex;
    width: 80%;
    padding: 0px;
  }

  .searchData div{
    padding: 3px;
  }
  
  .noDataFound{
    background-color: green;
    width: 1000px;
    height: 500px;
  }

  .no-data-found{
    display: flex;
    justify-content: center;
    align-items: center;
  }